---
import Header from '../components/Header.astro';
import Nav from '../components/Nav.astro';
import '@fontsource/inter/400.css';
import '@fontsource/inter/500.css';
import '@fontsource/inter/700.css';
import '../components/index.css';

interface Props {
  year: string;
}

const {year} = Astro.props;
---
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="canonical" href={`https://sc2.gg/reports/top-openings-${year}/`} />
    <title>sc2.gg - Top SC2 Pro Openings of {year} For All Matchups</title>
    <meta name="description" content={`Most played and highest winrate pro StarCraft 2 openings of ${year} for all matchups (PvZ, TvP, ZvT, PvP, TvT, ZvZ)`} />
    <script defer data-domain="sc2.gg" src="https://plausible.io/js/script.js"></script>
    <script>
      // @ts-ignore
      window.plausible = window.plausible || function() { (window.plausible.q = window.plausible.q || []).push(arguments) }
    </script>
    <script>
      // @ts-ignore
      !function(t,e){var o,n,p,r;e.__SV||(window.posthog=e,e._i=[],e.init=function(i,s,a){function g(t,e){var o=e.split(".");2==o.length&&(t=t[o[0]],e=o[1]),t[e]=function(){t.push([e].concat(Array.prototype.slice.call(arguments,0)))}}(p=t.createElement("script")).type="text/javascript",p.async=!0,p.src=s.api_host+"/static/array.js",(r=t.getElementsByTagName("script")[0]).parentNode.insertBefore(p,r);var u=e;for(void 0!==a?u=e[a]=[]:a="posthog",u.people=u.people||[],u.toString=function(t){var e="posthog";return"posthog"!==a&&(e+="."+a),t||(e+=" (stub)"),e},u.people.toString=function(){return u.toString(1)+".people (stub)"},o="capture identify alias people.set people.set_once set_config register register_once unregister opt_out_capturing has_opted_out_capturing opt_in_capturing reset isFeatureEnabled onFeatureFlags".split(" "),n=0;n<o.length;n++)g(u,o[n]);e._i.push([i,s,a])},e.__SV=1)}(document,window.posthog||[]);
      // @ts-ignore
      posthog.init('phc_QPS1bYNBdYGA5FZzOwxQgfQyvyhNiEz3LfBiZF3sTpH',{api_host:'https://app.posthog.com'})
    </script>
  </head>
  <style>
    .ReportLayout {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      align-content: center;
      width: 60%;
      max-width: 800px;
      min-width: 620px;
    }

    .ReportLayout__container {
      width: 100%;
    }

    @media(max-width: 1300px) {
      .ReportLayout {
        width: 80%;
      }
    }

    @media(max-width: 650px) {
      .ReportLayout {
        width: 90%;
        min-width: 0;
      }
    }

    .ReportLayout__header {
      margin: 15px 0;
      font-weight: 700;
      font-size: 24px;
    }
  </style>
  <body>
    <div class="ReportLayout">
      <Header title={`Top Pro Openings of ${year}`} link={`/reports/top-openings-${year}/`} />
      <Nav />
      <div class="ReportLayout__container">
        <slot />
      </div>
    </div>
  </body>
</html>
